ion-title{
    color: #1B295A;
    font-size: 15px;
}

ion-content{
    padding-top: 5%;
}

ion-grid{
    text-align: center;
}

.add{
    width: 20%;
    text-align: center;
}

.btnRegistro{
    background-color: #1B295A;
    color: #fff;
    border-radius:5px;
}

ion-footer{
    text-align: right;
}

.car{
    width: 15%;
}