<app-header></app-header>

<ion-content>
  <ion-card *ngFor="let producto of productos" [routerLink]="['/producto', producto.uid]">
    <ion-card-header class="card-header">
      <ion-card-title class="car-title">{{ producto.name }}</ion-card-title>
      <ion-img src="../../../assets/img/ver.png" class="img"></ion-img>
    </ion-card-header>
  
    <ion-card-content>
     <img [src]=" [producto.img] " alt="">
    </ion-card-content>
  </ion-card>

  <ion-button  fill="solid" color="primary"  >
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>

</ion-content>

<app-footer></app-footer>
