ion-title{
    color: #1B295A;
    font-size: 15px;
}

ion-content{
    padding-top: 5%;
}

ion-grid{
    text-align: center;
}

.user{
    width: 20%;
    text-align: center;
}

.ion-button1{
    background-color: #2B8847;
    color: #fff;
    border-radius:5px;
}

.ion-button2{
    background-color: #1B295A;
    color: #fff;
    border-radius:5px;
}

.click{
    color: #2B0DFF;
}