<ion-header>
  <ion-toolbar>
    <ion-title>BIENVENIDO A MARAVILA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <img src="../../../assets/img/user.svg" alt="" class="user">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Nombre de usuario:</ion-label>
          <ion-input  type="email" placeholder="Ej:juan123" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Contraseña</ion-label>
          <ion-input  type="password" placeholder="***********" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>        
        <ion-button  fill="clear" shape="round" class="ion-button1" (click)="onSubmitLogin()" >
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Olvidaste tu contraseña</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="click">Haz click Aquí</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button  fill="clear" shape="round" class="ion-button2" routerLink="/registro">
          Registrate aquí
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer>
    <img src="../../../assets/img/car.png" alt="car" class="car">
</ion-footer>